name: Generate github-stats images

on:
    push:
        branches: [master]
    schedule:
        - cron: "5 0 * * *"
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            # Check out repository under $GITHUB_WORKSPACE, so the job can access it
            - uses: actions/checkout@v3

            # Run using Python 3.8 for consistency and aiohttp
            - name: Set up Python 3.8
              uses: actions/setup-python@v4
              with:
                  python-version: "3.8"
                  architecture: "x64"
                  cache: "pip"

            # Install dependencies with `pip`
            - name: Install requirements
              run: |
                  python3 -m pip install --upgrade pip setuptools wheel
                  python3 -m pip install -r requirements.txt

            - name: Generate images
              run: |
                  python3 --version
                  python3 generate_images.py
              env:
                  ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  EXCLUDED: ${{ secrets.EXCLUDED }}
                  EXCLUDED_LANGS: ${{ secrets.EXCLUDED_LANGS }}
                  EXCLUDE_FORKED_REPOS: true
                  EXCLUDE_PRIVATE_REPOS: true

            - name: Commit to the repo
              run: |
                  git config --global user.name "jstrieb/github-stats"
                  git config --global user.email "github-stats[bot]@jstrieb.github.io"
                  git add .
                  # Force the build to succeed, even if no files were changed
                  git commit -m 'chore: update github-stats generated images' || true
                  git push
